#progress-container {
    width: 100%;
    background-color: #f3f3f3;
    margin-top: 20px;
}

#progress-bar {
    width: 0%;
    height: 30px;
    background-color: #4caf50;
    text-align: center;
    line-height: 30px;
    color: white;
}

.result-container {
    margin-top: 20px;
}

/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f9f9f9;
    color: #333;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #085c0b;
    margin-bottom: 20px;
}

/* Button Styles */
button {
    display: block;
    width: 30%;
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 20px auto 0 auto; /* Center align with margin auto */
}

button:hover {
    background-color: #45a049;
}

/* Progress Bar Styles */
#progress-container {
    width: 100%;
    background-color: #e0e0e0;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 20px;
}

#progress-bar {
    width: 0%;
    height: 30px;
    background-color: #4caf50;
    text-align: center;
    line-height: 30px;
    color: white;
    border-radius: 5px;
}

/* Result Container Styles */
.result-container {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 20px;
}

.result-container p {
    font-size: 16px;
    margin: 10px 0;
}

.result-container span {
    font-weight: bold;
    color: #4caf50;
}

/* Plot Styles */
#plot {
    margin-top: 20px;
}