/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
    background-color: #f5f5f5;
    color: #333;
    font-size: 14px;
    line-height: 1.6;
}
.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center; /* Center text */
}
h1, h2, h3, h4 {
    color: #333;
}
p {
    margin-bottom: 1em;
}

/* Make sticky-container sticky so it is visible even when scrolling down*/
.sticky-container {
    position: -webkit-sticky; /* For Safari */
    position: sticky;
    top: 0; /* Adjust this value as needed */
    z-index: 10; /* Ensure it sits above other content */
    background: white; /* Provide a background to ensure content is readable */
}

/* Results summary headline styles */
#resultsSummaryHeadline h3 {
    color: #2fa033;
}

/* Ensure all labels and range inputs are block elements */
label,
input[type="range"] {
    display: block;
}

/* Make label positions relative to avoid tooltip-text being out of screen */
label {
    position: relative;
}

/* Form Styles */
#form {
    margin-top: 10px;
}
.slider{
    appearance: none;
    -webkit-appearance: none;
    width: calc(100% - 30px); /* Adjust width to fit container if needed */
    margin: 10px auto; /* Center slider */
    height: 25px;
    border-radius: 5px;   
    background: #ddd;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
.slider:hover{
    opacity: 1;
}
.slider::-webkit-slider-thumb{
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #4CAF50;
    cursor: pointer;
}
.slider::-moz-range-thumb{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

/* Custom Radio Button Styles */
.toggle {
    display: flex;
    justify-content: center; /* Center align flex items */
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
}
.toggle input[type="radio"] {
    display: none;
}
.toggle label {
    background-color: #e7e7e7;
    color: #333;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
.toggle input[type="radio"]:checked + label {
    background-color: #4CAF50;
    color: white;
}
.custom-input {
    display: none;
}
.custom-input input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 5px;
    font-size: 16px;
}
.custom-input input[type="text"]:focus {
    outline: none;
    border-color: #4CAF50;
    box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
}

/* Chart Container */
canvas {
    margin-top: 20px;
    display: block; /* Center canvas */
    margin-left: auto;
    margin-right: auto;
}

#timeseriesChart {
    width: 100% !important; /* Make the chart width 100% of its parent container */
    margin: auto; /* Center the chart if necessary */
    display: block; /* Ensure the chart is treated as a block-level element */
}

/* Responsive Design */
@media (max-width: 768px) {
    .container {
        width: 98%;
    }
}