/* Custom Radio Button Styles */

.toggle {
    display: flex;
    justify-content: center; /* Center align flex items */
    flex-wrap: wrap;
    gap: 10px;
    margin-bottom: 20px;
}
.toggle input[type="radio"] {
    display: none;
}
.toggle label {
    background-color: #e7e7e7;
    color: #333;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}
.toggle input[type="radio"]:checked + label {
    background-color: #4CAF50;
    color: white;
}
.custom-input {
    display: none;
}
.custom-input input[type="text"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 5px;
    font-size: 16px;
}
.custom-input input[type="text"]:focus {
    outline: none;
    border-color: #4CAF50;
    box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
}